html, body {
  margin: 0;
  padding: 0;
}
h1, h2, p{
  font-family: 'Duru Sans';
  color: #5bb2f8;
  text-align: center;
}

.headerBlock{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #eeeeee;
  border: 2px solid #808080;
}

.menu{
  display: flex;
  font-family: 'Quicksand';
  background-color: #e0ffff;
  justify-content: space-evenly;
  border: 2px solid #808080;
  padding-top: 10px;
  padding-bottom: 10px;
}

.link{
  font-family: 'Duru Sans';
  font-size: 15px;
  color: black;
}
.link:visited .linkButton{
  width: 100px;
  height: 40px;
  font-family: 'Duru Sans';
  font-size: 15px;
  color: black;
  background: transparent;
  outline: none;
  border: 3px solid #90e7bc;
  transition: all 0.5s ease-in-out;
}
.link:visited .linkButton:hover{
  transform: scale(1.1);
  background: #90e7bc;
}

.linkButton{
  cursor: pointer;
  width: 100px;
  height: 40px;
  font-family: 'Duru Sans';
  font-size: 15px;
  color: black;
  background: transparent;
  outline: none;
  border: 3px solid #5bb2f8;
  transition: all 0.5s ease-in-out;
}
.linkButton:hover{
  color: #ffffff;
  transform: scale(1.1);
  background: #5bb2f8;
}

.objectsHeader{
  background-color: #eeeeee;
}
.objects{
  border: 2px solid #808080;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  background-color: #fffff0;
}

.inner_object{
  background-color: white;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0px 5px 10px #00000070;
  transition: transform 0.5s;
}
.inner_object:hover{
  transform: scale(1.1);
}

.social_media{
  display: flex;
  justify-content: space-evenly;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #e0ffff;
}
.social_media img{
  transition: transform 0.5s;
}
.social_media img:hover{
  transform: scale(1.3);
}